<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gulimall.storage.mapper.WareSkuMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.gulimall.storage.entity.WareSkuEntity" id="wareSkuMap">
        <result property="id" column="id"/>
        <result property="skuId" column="sku_id"/>
        <result property="wareId" column="ware_id"/>
        <result property="stock" column="stock"/>
        <result property="skuName" column="sku_name"/>
        <result property="stockLocked" column="stock_locked"/>
    </resultMap>

    <select id="queryPage" resultType="com.gulimall.storage.vo.WareSkuVO">
        SELECT
            t1.name AS wareName, t2.id, t2.sku_id, t2.stock, t2.sku_name, t2.stock_locked
        FROM
            wms_ware_info AS t1
            LEFT JOIN wms_ware_sku AS t2 ON t1.id = t2.ware_id
        <where>
            t2.id IS NOT NULL
            <if test="storageId != null and storageId != ''">
                AND t1.id = #{storageId}
            </if>
            <if test="skuId != null and skuId != ''">
                AND t2.sku_id = #{skuId}
            </if>
        </where>
    </select>


    <select id="listSkuWareBySkuIds" resultType="com.gulimall.api.storage.model.dto.SkuStorageDTO">
        SELECT
            sku_id, SUM(stock) > 0
        FROM
            wms_ware_sku
        WHERE
            sku_id IN
            <foreach collection="skuIds" index="index" item="skuId" separator="," open="(" close=")">
                #{skuId}
            </foreach>
        GROUP BY
            sku_id
    </select>

</mapper>
