<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gulimall.product.mapper.AttrAttrgroupRelationMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.gulimall.product.entity.AttrAttrgroupRelationEntity" id="attrAttrgroupRelationMap">
        <result property="id" column="id"/>
        <result property="attrId" column="attr_id"/>
        <result property="attrGroupId" column="attr_group_id"/>
        <result property="attrSort" column="attr_sort"/>
    </resultMap>


    <!-- 根据属性id查询所属分组列表 -->
    <select id="getAttrGroupByAttributeId" resultType="com.gulimall.product.entity.AttrGroupEntity">
        SELECT
            t2.*
        FROM
            pms_attr_attrgroup_relation AS t1
            LEFT JOIN pms_attr_group AS t2 ON t1.attr_group_id = t2.attr_group_id
        WHERE
            t1.attr_id = #{attrId}
    </select>

    <select id="getAttrsByAttributeId" resultType="com.gulimall.product.entity.AttrEntity">
        SELECT
            t1.*
        FROM
            pms_attr AS t1
            LEFT JOIN pms_attr_attrgroup_relation AS t2 ON t1.attr_id = t2.attr_id
        WHERE
            t1.attr_type = 1 AND t2.attr_group_id = #{attrGroupId}
    </select>

    <select id="getAttrsNoAttrGroup" resultType="com.gulimall.product.entity.AttrEntity">
        SELECT
            t1.*
        FROM
            pms_attr AS t1
            LEFT JOIN pms_attr_attrgroup_relation AS t2 ON t1.attr_id = t2.attr_id
        WHERE
            t1.attr_type = 1 AND t1.catelog_id = #{catelogId} AND t2.id IS NULL
    </select>

    <delete id="deleteRelation">
        DELETE
        FROM
            pms_attr_attrgroup_relation
        WHERE
            attr_group_id = #{attrGroupId}
            AND
            attr_id IN
            <foreach collection="attrIds" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
    </delete>

</mapper>
