<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gulimall.product.mapper.ProductAttrValueMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.gulimall.product.entity.ProductAttrValueEntity" id="productAttrValueMap">
        <result property="id" column="id"/>
        <result property="spuId" column="spu_id"/>
        <result property="attrId" column="attr_id"/>
        <result property="attrName" column="attr_name"/>
        <result property="attrValue" column="attr_value"/>
        <result property="attrSort" column="attr_sort"/>
        <result property="quickShow" column="quick_show"/>
    </resultMap>

    <select id="listAttrValuesBySpuId" resultType="com.gulimall.product.entity.ProductAttrValueEntity">
        SELECT
            t1.id, t1.spu_id, t1.attr_id, t2.attr_name, t1.attr_value, t1.attr_sort, t1.quick_show
        FROM
            pms_product_attr_value AS t1
            LEFT JOIN pms_attr AS t2 ON t1.attr_id = t2.attr_id
        WHERE
            t1.spu_id = #{spuId}
    </select>

</mapper>
